﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyle.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>

    
</head>
<body>
    <div>

        @Html.ActionLink("Home", "List", "Product", null,
                    new { @class = "btn btn-primary btn-block" })
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>