﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyle.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
 
    
</head>
<body>
    <div class="navbar navbar-inverse  navbar-fixed-top "style="padding-right:20px;padding-left:20px;" role="navigation">
        @Html.ActionLink("Sign in", "Index", "Admin",null, new { @class = "btn btn-primary navbar-right" })
        @Html.Action("Summary","Cart")
        <a class="navbar-brand text-center" href="#">Sklep sportowy</a>
        
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @Html.Action("Menu","Nav")
        </div>
        <div class="col-xs-8">
            @RenderBody()
            
        </div>
    </div>
        
        
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>