﻿@model IEnumerable<SportsStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Wszystkie produkty</h3>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th class="NumericCol">Cena</th>
                <th>Cena</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductID</td>
                    <td>@Html.ActionLink(item.Name, "Edit", new { item.ProductID })</td>
                    <td class="NumericCol">@item.Price.ToString("c")</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("ProductID", item.ProductID)
                            <input type="submit" value="Usuń" />
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Dodaj nowy produkt", "Create", null,new { @class = "btn btn-default" })
    </div>
</div>