﻿@model SportsStore.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Administracja: logowanie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel ">
    <div class="panel-heading">
        <h3>Zaloguj się</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Proszę się zalogować, aby uzyskać dostęp do obszaru administracyjnego:</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Nazwa użytkownika:</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Hasło:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <input type="submit" value="Zaloguj się" class="btn btn-primary" />
        }
    </div>
</div>