﻿@model SportsStore.Domain.Entities.Cart

<div class="navbar-header" >
    @Html.ActionLink("Zamów", "Index", "Cart",
 new { returnUrl = Request.Url.PathAndQuery },
 new { @class = "btn btn-default navbar-btn" })
</div>
<div class="navbar-text navbar-default">
    <b>Twój koszyk:</b>
    @Model.Lines.Sum(x => x.Quantity) sztuk,
    @Model.ComputeTotalValue().ToString("c")

</div>

