﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.boxshadow 
{
    box-shadow: 1px 2px 3px 4px rgba(0,0,0,0.75);
}

.login-panel 
{
    max-height: 100px;
    max-width:200px;

    margin:auto;
}